{% extends "layout.html" %}
{% block title %}Expeditious{% endblock %}
{% block page %}Expeditious{% endblock %}

{{ super() }}

{% block nav %}
<nav class="navbar bg-dark bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#!">
        <img src="/images/Logo-removebg-preview.png" width="120" height="60" class="d-inline-block ">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          
          <ul id="my-tabs" class="navbar-nav  flex-grow-1 pe-3">
            <li>
              <img src="/images/Logo-removebg-preview.png" width="300" height="150">
            </li>
            <li>
              <form id="search" method="post" action="/search" class="d-flex mt-3" role="search">
                <input class="form-control me-2" type="text" placeholder="Search" name="search_term" aria-label="Search">
                <button class="btn" type="submit">Search</button>
              </form>
            </li>
            <li class="nav-item">
              <a id="home-link" class="nav-link active" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a id="login-link" class="nav-link" href="/login">Log In</a>
            </li>
            <li class="nav-item">
              <a id="signup-link" class="nav-link" href="/signup">Signup</a>
            </li>
            <li class="nav-item">
              <a id="logout-link" class="nav-link" href="/logout">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
{% endblock %}

{% block content %}
    <h1 style="color:white">Schedule</h1>

    <div style="color:white">
        <table>
            <tr>
                <th>Origin</th>
                <th>Destination</th> 
                <th>Departure Time</th>
                <th>Arrival Time</th>
                <th>Distance</th>
                <th>Vehicle</th>
            </tr>
            {%for route in routes%}
                <tr>
                    <td>{{route.origin}}</td>
                    <td>{{route.destination}}</td>
                    <td>{{route.departure}}</td>
                    <td>{{route.arrival}}</td>
                    <td>{{route.distance}}</td>
                    <td>{{route.vehicle}}</td>
                </tr>
            {%endfor%}
        </table>
    </div>

{% endblock %}