{% extends "layout.html" %}
{% block title %}Expeditious{% endblock %}
{% block page %}Expeditious{% endblock %}

{{ super() }}

{% block nav %}
<nav class="navbar navbar-dark bg-dark bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
  <div>
    <button style="padding-bottom: 10px;" class="navbar-toggler " type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand center" href="#!" style="font-size:xx-large">
      Expeditious 
    </a>
  </div>
      <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body center">
          
          <ul id="my-tabs" class="navbar-nav flex-grow-1 pe-3">
            <li>
              <img src="/static/Logo-removebg-preview.png" height="150">
            </li>
            <li class="nav-item">
              <a id="home-link" class="nav-link" href="/">Home</a>
            </li>
            <!--
            <li class="nav-item">
              <a id="login-link" class="nav-link" href="/login">Log In</a>
            </li>
            
            <li class="nav-item">
              <a id="signup-link" class="nav-link" href="/signup">Signup</a>
            </li>
            -->
            <li class="nav-item">
              <a id="logout-link" class="nav-link" href="/logout">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
{% endblock %}



{% block content %}
<div class="row g-3">
<div class="card justify-content-left col-md-3 text-white" style="background-color:#212529e0; border-right: 1px solid whitesmoke">

  {% if myRoutes == NULL: %}
    <div class="card-header">
      <h3 class="card-title">My Routes</h3>
    </div>
    <p class="card-body table-group-divider">You don't have any saved routes.</p>
  {% endif %}

  {% if myRoutes: %}
  <div class="card-header">
    <h3 class="card-title">My Routes</h3>
    <a class="right" data-bs-toggle="collapse" href="#myRoutes" style="color:gray">Expand/Collapse</a>
  </div>
  <div id="myRoutes" class="collapse card-body table-group-divider">
    {% for route in myRoutes %}
      <div class="card" style="background-color:dimgray; border: 1px solid whitesmoke">
        <div class="card-body"> 
          <p class="black-text" style="font-weight:500; padding:0; margin:0">{{route.origin}}-{{route.destination}}</p>
          <p class="black-text right" style="font-weight:500; padding:0; margin:0">{{route.departure}}</p>
        </div>
      </div>
    {% endfor %}
  </div>
  {% endif %}

  

</div>
<div class="col" style="background-color:#212529e0; border-radius:5px;">
  <div class="row g-3">
    <h3 class="col" style="padding-top:5px; color:whitesmoke; font-weight:300">All Routes</h3>

    <div class="col-md-5" style="margin-bottom:10px;">

        <form id  = "search" method = "post" action = "/search" >
            <input placeholder = "Search" type = "text" name = "search_term" style="color:whitesmoke">
        </form>
      </div>
  </div>
  <div class="row g-3">
        <form id=filter_taxi action = "/filter"  method = "get" class="col text-white">
            Filter by mode:  <input class="btn btn-sm btn-outline-light" type = "Submit" name = "filter_button" value = "Taxi">
                        <input class="btn btn-sm btn-outline-light" type = "Submit" name = "filter_button" value = "Bus">
                        <input class="btn btn-sm btn-outline-light" type = "Submit" name = "filter_button" value = "Maxi">
                        <input class="btn btn-sm btn-outline-light" type = "Submit" name = "filter_button" value = "None">
                        
        </form>

  </div>

    <div class="" style="color:white">
      <table class="table table-hover table-dark table-striped table-bordered border-light" >
        <thead>
          <tr>
              <th>Origin</th>
              <th>Destination</th> 
              <th>Departure Time</th>
              <th>Arrival Time</th>
              <th>Distance</th>
              <th>Mode</th>
              <th> </th>
          </tr>
        </thead>
        <tbody class="table-group-divider">

          
            
            
            <tr>
              <td>a</td>
              <td>b</td>
              <td>c</td>
              <td>d</td>
              <td>e</td>
              <td>f</td>
              <td><a class= "btn btn-sm btn-secondary" href = "/route">...</a></td>
            </tr>
            <tr>
              <td>a</td>
              <td>b</td>
              <td>c</td>
              <td>d</td>
              <td>e</td>
              <td>f</td>
              <td><a class= "btn btn-sm btn-secondary" href = "/route">...</a></td>
            </tr>
            <tr>
              <td>a</td>
              <td>b</td>
              <td>c</td>
              <td>d</td>
              <td>e</td>
              <td>f</td>
              <td><a class= "btn btn-sm btn-secondary" href = "/route">...</a></td>
            </tr>
          
            
          {%for route in routes%}  
          
              <tr>
                  <td>{{route.origin}}</td>
                  <td>{{route.destination}}</td>
                  <td>{{route.departure}}</td>
                  <td>{{route.arrival}}</td>
                  <td>{{route.distance}}</td>
                  <td>{{route.vehicle}}</td>
                  <td><a class= "btn btn-sm btn-secondary" href = "/routeinfo/{{route.id}}">More</a></td>
              </tr>
            
          {%endfor%}
        
        </tbody>
      </table>
  </div>
</div>
</div>
{% endblock %}