{% extends "layout.html" %}

{% block title %}Login{% endblock %}

{% block page %}Login{% endblock %}

{% block link%}
    <ul id="nav-mobile" class="right">
        <li></li>
    </ul>
{% endblock %}

{% block nav %}
<nav class="nav bg-dark bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid center">
    <a class="navbar-brand" href="#!" style="font-size:xx-large">
      Expeditious 
    </a>
  </div>
</nav>
{% endblock %}

{% block content %}
<div class="row g-3" style="border-radius:5px;background-color:#212529e0 ;margin-top:7%; padding-top:0">
  <div class="col-md-1"></div>
  <div class="col-md-5" style="background-image: url(/static/Logo-removebg-preview.png); background-size: cover;"></div>
  <div class="col-md-1"></div>
  <main class="card col-md-5 text bg-dark" style="width:fit-content; padding-top:0;">
    <div class="card-header" style="background-color: grey;">
      <div class="card-title text-white" style="font-weight:400;">Login</div>
    </div>
    <form class="card-body" id="loginForm" method="POST" action="/login" style="padding:1em">

      <div class="row">
        <div class="input-field col s12">
          <input name="username" type="text" class="validate form-control me-2" style="color:whitesmoke">
          <label for="first_name">Username</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input name="password" type="password" class="validate form-control me-2" style="color:whitesmoke">
          <label for="password">Password</label>
        </div>
      </div>
      <div class="card-footer">
        <input type="submit" class="grey text btn" style="font-weight:500;">
        <a href="/signup" style="color:grey">Don't have an account? Sign Up here</a>
      </div>
  </form>
</main>
</div>
{% endblock %}