{% extends "layout.html" %}
{% block title %}Sign Up{% endblock %}
{% block page %}Sign Up{% endblock %}

{% block link%}
    <ul id="nav-mobile" class="right">
        <li><a href="/login">Login</a></li>
    </ul>
{% endblock %}

{% block nav %}
<nav class="nav bg-dark bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
    <img src="/App/static/Logo-removebg-preview.png" width="120" height="60" class="d-inline-block ">
    <a class="navbar-brand" href="#!" style="font-size:xx-large">
      Expeditious 
    </a>
  </div>
</nav>
{% endblock %}

{% block content %}
<div class="row g-3 bg">
  <div class="col-md-6" style="background-image: url(/App/static/city-bg.png); background-size: cover;">
    <img src="/App/static/Logo-removebg-preview.png" width="120" height="60" class="d-inline-block ">
  </div>
	<main class="card col-md-6 text bg-dark" style="width:fit-content; margin-top:7%;">
    <div class="card-header" style="background-color:grey;">
      <div class="card-title text-white" style="font-weight:400;">Sign Up</div>
    </div>
   <form class="card-body" id="loginForm" method="POST" action="/signup" style="padding:1em">    
      <div class="row" >
        <div class="input-field col s12">
          <input name="email" type="email" class="validate form-control me-2" style="color:whitesmoke">
          <label for="first_name" class="form-label">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input name="username" type="text" class="validate form-control me-2" style="color:whitesmoke">
          <label for="first_name">Username</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input name="password" type="password" class="validate form-control me-2" style="color:whitesmoke;">
          <label for="password">Password</label>
        </div>
      </div>
      <div class="card-footer">
        <input type="submit" class="grey text btn" style="font-weight:500;">
        <a href="/login">Already have an account? Login here</a>
      </div>
    </form>
  </main>
</div>
{% endblock %}